@media screen and (max-width: 812px) {
    /*导航*/
    .ind_surround {
        display: flex;
        flex-direction: column;
    }
    .ind_header {
        height: 50px !important;
    }
    .ind_header .indh_headerCon .logo {
        display: none;
    }
    .ind_header .indh_headerCon {
        width: 100% !important;
        height: 50px !important;
    }
    .ind_header .indh_headerCon ul {
        margin-left: 0 !important;
        width: 100%;
        overflow-x: scroll;
    }
    .ind_header .indh_headerCon ul li {
        padding: 0 !important;
        height: 50px !important;
        line-height: 50px !important;
    }
    .ind_header .indh_headerCon ul li a {
        width: 90px !important;
    }
    .ind_header .indh_headerCon .indh_search {
        display: none;
    }
    /*视频*/
    .ind_content {
        width: 100% !important;
        flex: 1;
        overflow-y: auto;
        margin: 0 auto !important;
    }
    .ind_content .ind_videoCont {
        justify-content: space-around;
    }
    .ind_content .ind_videoCont a {
        width: 30% !important;
        margin-right: 0 !important;
        height: auto !important;
    }
    .mobileSearch {
        display: block !important;
    }
    .paging {
        flex-direction: column;
        height: auto;
    }
    .paging .prev_page_btn {
        margin-right: 5px !important;
    }
    .paging .next_page_btn {
        margin-left: 5px !important;
    }
    .paging span {
        margin-left: 0 !important;
        margin-top: 10px;
    }
}